.container {
    background-color: #c5cae9;
    height:80%;
    display: flex;
    flex-flow: row nowrap;
    
}

.week {
    height:80%;
    display: flex;
    flex-flow: row nowrap;
} 
.item {
    width: 70px;
    height: 40px;
    background-color: peachpuff;
    flex-grow: 1;
    border: 0.5px double #80cbc4;
}

.sun{
    color: red;
}

.sat{
    color: rgb(69, 133, 235);
}
